{% extends "landing_page/_base.html" %}


{% block content %}

<!-- Banner -->
<header id="heading" class="pad-section">
    <div class="container">
          <h1>Isolate Collection</h1>
        <div class="row">
          <a href="{% url 'isolate-database' %}" class="btn btn-default btn-lg pull-right hvr-fade" role="button"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>&nbsp; Return to collection</a>
        </div>
    </div>
    <!-- /.container -->
</header>
<!-- /.banner -->

<!-- Content -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <h3>Search results <small>(query: {{ query }})</small></h3>
            {% if search_results %}
            <div class="container">
                <div class="row">
                    <table class="sortable table table-hover">
                      <thead>
                        <tr>
                          <th>Location Identifier</th>
                          <th>Genotype</th>
                          <th>Date Added</th>
                          <th>Notes</th>
                          <th>Sequence Data</th>
                        </tr>
                      </thead>
                      <tbody>
            {% for isolate in search_results %}
                        <tr>
                          <td>{{ isolate.LOCATION_IDENTIFIER }}</td>
                          <td>{{ isolate.GENOTYPE }}</td>
                          <td>{{ isolate.DATE }}</td>
                          <td>{{ isolate.NOTES }}</td>
                          <td>{% if isolate.LINK %}<a href="{{ isolate.LINK }}" target="_blank" title="Go to data" class="btn btn-default btn-xs hvr-fade" role="button" style="cursor: pointer; cursor: hand;">View <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>{% else %}<a class="btn btn-default btn-xs disabled" role="button">Unavailable</a>{% endif %}</td>
                        </tr>
            {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
            <!-- /.container -->

            {% else %}
              <p>No matches in database using search query: {{ query }}</p>
            {% endif %}








        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->




{% endblock content %}
