{% extends "landing_page/_base.html" %}
{% block pagename %}ISOLATE-COLLECTION{% endblock %}
{% block content %}
{% load static from staticfiles %}

<!-- Header -->
<header id="heading" class="pad-section">
  <div class="container text-center">
    <h1>Isolate Collection</h1>
    <h4 class="hidden-xs">The Hinton Lab isolate collection - please use the DropBox sheet to update the DB.</h4>
  </div>
  <a class="arrow-wrap" style="cursor: pointer; cursor: hand;" onclick="$('#db-table').animatescroll({scrollSpeed:2000,easing:'easeInOutBack'});"><span class="arrow"></span></a>
</header>
<!-- /Header-->


<!-- Content -->
<div class="content-section-a">
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form id="custom-search-form" class="form-search form-horizontal pull-right" action="{% url 'ISOLATE-search' %}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search isolate collection . . ." name="q" value="{{request.GET.q}}">
            <span class="input-group-btn">
              <button class="btn btn-default hvr-fade" value="Search" type="submit">Search!</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>
</div>


<!-- Content -->
<div id="db-table" class="content-section-b">
    <div class="container">
        <div class="row">
            <table class="sortable table table-hover">
              <thead>
                <tr>
                  <th>Location Identifier</th>
                  <th>Genotype</th>
                  <th>Date Added</th>
                  <th>Notes</th>
                  <th>Sequence Data</th>
                </tr>
              </thead>
              <tbody>
                {% for isolate in all_isolates %}
                <tr>
                  <td>{{ isolate.LOCATION_IDENTIFIER }}</td>
                  <td>{{ isolate.GENOTYPE }}</td>
                  <td>{{ isolate.DATE }}</td>
                  <td>{{ isolate.NOTES }}</td>
                  <td>{% if isolate.LINK %}<a href="{{ isolate.LINK }}" target="_blank" title="Go to data" class="btn btn-default btn-xs hvr-fade" role="button" style="cursor: pointer; cursor: hand;">View <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>{% else %}<a class="btn btn-default btn-xs disabled" role="button">Unavailable</a>{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->


{% endblock content %}
