{% load static from staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<!--
//////////////////////////////////////////////////////

HINTON LAB WEBSITE
DESIGNED & DEVELOPED by Will Rowe

Website: www.hintonlab.com
Email: will.rowe@liverpool.ac.uk
Colour scheme:
#558C89
#74AFAD
#D9853B
#ECECEA

//////////////////////////////////////////////////////
 -->

<html lang="en">
  <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="MobileOptimized" content="320">
          <meta name="HandheldFriendly" content="True">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
          <meta name="description" content="Hinton Lab Website">
          <meta name="author" content="Will Rowe">
          <title>The Hinton Lab</title>

          <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
          <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Hinton Lab Logo Icon -->
          <link href="{% static "img/misc/favicon.ico" %}" rel="icon" type="image/png" >

          <!-- Core CSS -->
          <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
          <link href="{% static "css/todo-app/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">
          <link href="{% static "css/todo-app/ui.datepicker.css" %}" rel="stylesheet" type="text/css">

          <!-- My Styles (including Hover, Slide, Owl carousel, Todo app CSS)-->
          <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">

          <!-- Custom Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

          <!-- jQuery -->
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>

          <!-- Bootstrap Core JavaScript -->
          <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

          <!-- Slideout JavaScript -->
          <script src="{% static "js/slideout.min.js" %}" async></script>

          <!-- Sorttable and tablend JavaScript -->
          <script src="{% static "js/sorttable.js" %}" type="text/javascript"></script>
          <script src="{% static "js/todo-app/jquery.tablednd_0_5.js" %}" type="text/javascript"></script>

          <!-- AddThis JavaScript -->
          <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57231fb1c29fe366" type="text/javascript"></script>

          <!-- Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
          <script type="text/javascript">window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"light-floating"};</script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js" type="text/javascript"></script>

          <!-- Animatescroll JavaScript -->
          <script src="{% static "js/animatescroll.min.js" %}" type="text/javascript"></script>

          <!-- Morris JavaScript -->
          <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
          <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

          <!-- Additional JS -->
          {% block scripts %}{% endblock %}
          {% if user.is_authenticated %}
          <script src="{% static "js/site-members.js" %}" async></script>
          {% else %}
          <script src="{% static "js/site.js" %}" type="text/javascript"></script>
          {% endif %}
          <noscript>Please enable JavaScript to view the site properly</noscript>

          <!-- Google Analytics -->
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-82926222-1', 'auto');
            ga('send', 'pageview');
          </script>

  </head>


  <body>
        <!-- Snippet to grab page names and allow site JS to mark active django pages -->
        <span id="_pageName" style="display:none">{% block pagename %}{% endblock %}</span>

        <!-- Site wide messages -->
        {% load cache %}
        {% cache 300 announcements_cache %}
        {% if announcements %}
          {% for announcement in announcements %}
            <div class="alert-float" style=" position: absolute; top: 0; z-index: 9999;width: 100%">
                    <div class="alert alert-{{ announcement.level }}" role="alert">
                    	<button type="button" class="close" data-dismiss="alert">×</button>
                          {{ announcement.body|safe }}
                    </div>
            </div>
          {% endfor %}
        {% endif %}
        {% endcache %}


<!-- TOP NAV -->
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'landing_page' %}"><img src="{% static "img/navbar-and-footer/navbar-logo.png" %}" alt="Home" title="Home"></a>
              </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <!-- add public links -->
                    <ul class="nav navbar-nav navbar-left">
                      <li data-link-name="NEWS">
                          <a href="{% url 'news' %}" class="hvr-underline-from-left">News</a>
                      </li>
                      <li data-link-name="RESEARCH">
                          <a href="{% url 'research' %}" class="hvr-underline-from-left">Research</a>
                      </li>
                      <li data-link-name="PUBLICATIONS">
                          <a href="{% url 'publications' %}" class="hvr-underline-from-left">Publications</a>
                      </li>
                      <li data-link-name="THE-TEAM">
                          <a href="{% url 'the_team' %}" class="hvr-underline-from-left">People</a>
                      </li>
                      <li class="dropdown" data-link-name="TOOLS">
                          <a class="dropdown-toggle hvr-underline-from-left" data-toggle="dropdown" href="#">Tools<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'tools' %}">Resources</a></li>
                            <li class="divider"></li>
                            <li><a href="http://bioinf.gen.tcd.ie/cgi-bin/salcom.pl?_HL" target="_blank">SalCom</a></li>
                            <li><a href="http://bioinf.gen.tcd.ie/cgi-bin/salcom.pl?db=salcom_mac_HL" target="_blank">SalComMac</a></li>
                            <li><a href="http://bioinf.gen.tcd.ie/cgi-bin/salcom.pl?db=SalComRegulon_HL" target="_blank">SalComRegulon</a></li>
                          </ul>
                      </li>
                    </ul>
                    <!-- Member's content/log in -->
                    <ul class="nav navbar-nav navbar-right">
                      {% if user.is_authenticated %}
                      <li class="toggle-button hvr-underline-from-left"><a href="#">Lab Resources</a></li>
                      {% else %}
                      <!-- display signin option if member not logged on -->
                      <li><a class="hvr-underline-from-left" href="#" data-toggle="modal" data-target="#login-modal">Lab Sign In</a></li>
                    {% endif %}
                  </ul>
              </div>
            <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
<!-- /.TOP NAV -->

{% if user.is_authenticated %}
<!-- MEMBER SIDE PANEL -->
        <nav id="navbar-main">
          <!-- hide panel button -->
          <ul class="nav">
                  <div class="hide-button-section">
                    <li class="toggle-button-alt" data-toggle="button" aria-pressed="false" autocomplete="off"><a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
                  </div>
          </ul>

          <!-- user profile section -->
          <ul class="nav">
              <li>
                  <div class="user-section">
                      <div class="user-section-inner">
                        {% thumbnail user.userprofile.picture "70x75" crop="center" as im %}
                            <img class="img-responsive img-rounded" src="{{ im.url }}" alt="User profile pic"></p>
                        {% endthumbnail %}
                      </div>
                      <div class="user-info">
                          <div>{{ user.first_name }} <strong>{{ user.last_name }}</strong></div>
                          <div class="user-text-online">
                              {% now "jS F Y" %}
                          </div>
                      </div>
                  </div>
              </li>
          </ul>

          <!-- link menu -->
          <h4>Menu</h4>
          <ul class="nav nav-pills nav-stacked">
              <!-- Main menu -->
              <li><a href="{% url 'member' %}"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
              <li><a href="{% url 'analysis' %}"><i class="glyphicon glyphicon-book"></i> Analysis</a></li>
              <li><a href="{% url 'todo-lists' %}"><i class="glyphicon glyphicon-list"></i> Task Manager</a></li>
              <li><a data-toggle="collapse" href="#collapse1"><i class="glyphicon glyphicon-stats"></i> Databases<span class="caret pull-right"></span></a></li>
              <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-unstyled">
                  <li><a href="{% url 'mutant-database' %}"> Mutant Collection</a></li>
                  <li><a href="{% url 'isolate-database' %}"> Isolate Collection</a></li>
                </ul>
              </div>
              <li><a data-toggle="collapse" href="#collapse3"><i class="glyphicon glyphicon-user"></i> My Profile<span class="caret pull-right"></span></a></li>
              <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-unstyled">
                   <li><a href="{% url 'edit_profile' %}">Edit information</a></li>
                   <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
               </ul>
              </div>
          </ul>

            <!-- superuser options -->
            {% if user.is_superuser %}
            <h4>Superuser</h4>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{% url 'admin:index' %}">Site Admin</a></li>
            </ul>
            {% endif %}

        </nav>
<!-- /.MEMBER SIDE PANEL -->
{% endif %}


<!-- MAIN PAGE CONTENT -->
        <main id="main">

        {% block content %}{% endblock %}

        </main>
<!-- /.MAIN PAGE CONTENT -->


<!-- MODALS -->
{% block modal %}
{% endblock %}
  <!-- login modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      	  <div class="modal-dialog">
  				  <div class="loginmodal-container">
  					<h1>Login to Your Account</h1><br>
            <form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
              {% csrf_token %}
              <table class="table">
                {% if form.errors %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error:</strong>
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
                {% endif %}
                  <tr>
                      <td><label for="id_username">Username</label></td>
                      <td><input id="id_username" name="username" type="text" class="form-control"></td>
                  </tr>
                  <tr>
                      <td><label for="id_password">Password</label></td>
                      <td><input id="id_password" name="password" type="password" class="form-control"></td>
                  </tr>
              </table>
              <input type="submit" value="Login" class="login loginmodal-submit" />
              <input type="hidden" name="next" value="{% url 'member' %}"/>
  				  </form>
    				  <div class="login-help text-center">
    					<a HREF="mailto:will.rowe@liverpool.ac.uk?subject=Forgot-Password&body=Please could you send me a password reminder for the Hinton Lab website.">Forgot Password</a>
    				  </div>
  				  </div>
  			  </div>
  </div>
  <!-- /.login-->
<!-- /.END MODALS -->

  </body>
</html>
